//
//  All
//  _____________________________________________
.concealed-carry-permits {
  .sidebar {
    .elementor-icon-list-item, .elementor-icon-list-item >a {
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }
}

//
//  Mobile
//  _____________________________________________

@media (max-width: 767px) {

}

//
//  Desktop
//  _____________________________________________

@media (min-width: 768px) {
  .concealed-carry-permits {
    .sidebar {
      position: sticky;
      top: 40px;
      align-self: flex-start;
    }
  }
}