

.steps-card {
  &:nth-child(2) {
    &:before,
    &:after {
      content: '';
      position: absolute;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url('../../img/vector.png');
      height: 90px;
      width: 55px;
    }
  }

  &__number {
    span {
      font-size: @font-h2;
    }
  }
}

//
//  Mobile
//  _____________________________________________

@media (max-width: 767px) {
  .steps-card {
    &:nth-child(2) {
      &:before,
      &:after {
        transform: translateX(-50%) rotate(90deg);
        left: 50%;
      }

      &:before {
        top: -60px;
      }

      &:after {
        bottom: -50px;
      }
    }
  }
}

//
//  Desktop
//  _____________________________________________

@media (min-width: 768px) {
  .steps-card {
    &:nth-child(2) {
      &:before,
      &:after {
        top: 50%;
        transform: translateY(-50%);
        height: 90px;
        width: 55px;
      }

      &:before {
        left: -27px;
      }

      &:after {
        transform: translateY(-50%) rotate(180deg) scaleX(-1);
        right: -48px;
        left: unset;
      }
    }
  }
}
